language: elixir
matrix:
  include:
    - elixir: 1.4.5
      otp_release: 18.3
    - elixir: 1.4.5
      otp_release: 19.3
    - elixir: 1.4.5
      otp_release: 20.3
    - elixir: 1.5.3
      otp_release: 18.3
    - elixir: 1.5.3
      otp_release: 19.3
    - elixir: 1.5.3
      otp_release: 20.3
    - elixir: 1.6.6
      otp_release: 19.3
    - elixir: 1.6.6
      otp_release: 20.3
    - elixir: 1.6.6
      otp_release: 21.1
    - elixir: 1.7.4
      otp_release: 19.3
    - elixir: 1.7.4
      otp_release: 20.3
    - elixir: 1.7.4
      otp_release: 21.1
sudo: false
env:
  - MIX_ENV=test
script:
  - mix test
  - mix coveralls.travis
notifications:
  recipients:
    - dunyakirkali@gmail.com
    - onurkucukkece@gmail.com
